/* sign */

.cover{
    background-color:#851889 ;
  }
  .reg{
    width: 50%;
    text-align: right;
}

.reg a{
    
    color:#e5cfe6;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
.reg a:hover{
  color: #f8bede;

}
/* end of sign */



/* NavBar */

.bg-color{
    background: #f5f0f6;
}
.fa-shopping-cart{
  color:#851889;
  font-size: 19px;
  margin-right: 10px;
}
.fa-shopping-cart:hover{
  color:#e949a1;
}
.fa-heart:hover{
  color:#e949a1;
}
.fa-search:hover{
  color:#e949a1;
}
.fa-heart{
  color:#851889;
  font-size: 19px;
  margin-right: 10px;
}
.fa-search{
  color:#851889;
  font-size: 19px;
}


.navbar-brand{
    color: #851889;
    font-weight: bold;
    font-size: 35px!important;
}

.nav-link{
    font-weight: bold;
    color: #851889;
    font-size: 19px;
    margin-right: 15px;

}
.nav-item a:hover{
  color: #e949a1;
}

.btn-group{
    color: #851889;
}

.navbar-toggler i{
    color: #851889 ;
} 

/* End of NavBar */




/* shopnow */
.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #e5cfe6;
  box-shadow: 2px 8px 16px 0px rgba(0, 0, 0, 2);
  z-index: 1;

}




.dropdown:hover .dropdown-menu{
  display: block;transition: all 0.5s ease in out;}

/* end of shop now */
/* search */
.search{
  width: 330px;
  float: left;
  margin-left: 130px;
}
.srch{
  font-family: 'Times New Roman', Times, serif;
  width: 230px;
  height: 30px;
  background: transparent;
  border: 1px solid #851889;
  color: #49144b;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.btn4{
  width: 100px;
  height: 30px;
  background: #851889;
  border: 2px solid #851889;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
}
.btn4:focus{
  outline: none;
}
.srch :focus{
  outline: none;
}
/* end of search */

/* privacy */

.text-center{
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    color: #851889;
    
}
.policy{
    border: 1px solid #851889;
}



/* end of privacy */










/* follow us */
.follow{
  background: #49144b;
}
.texts-color{
  color: #e5cfe6;
}
.social-icon{
  display: inline-block;
  width: 50%;
}
.social-icon p{
  display: block;
  width: 100%;

}
.social-icon p a{
  height: 30px;
  margin-right: 25px;

}
.social-icon p a i{
  font-size: 30px;
  color: #fff;

}

.social-icon p a:hover{
  background: #BE93D4;
  border-color: #BE93D4;
  transform: scale(1.5);

}
.social-icon p a:hover i{
  color: #fff;
}
/* end of follow us */
  /* footer */
  
  
  .fa-phone {
    color: #400b42;
    
  }
  .fa-paper-plane{
    color: #400b42;
  }
  
  .footer{
    background-color:#f5f0f6 ;
    padding: 6rem 1rem;
    line-height: 3rem;
  }
  .footer-center{
    margin-right: 1rem;
  }
  
  
   .footer-container{
     display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #49144b;
  
  } 
  .footer-center a:link, 
  .footer-center a:visited{
    display: block;
    color: #49144b;
    font-size: 1.2rem;
    transition: 0.6s;
  }
  
  .footer-center a:hover{
    color: #e949a1;
  }
  .footer-center div{
    color: #BE93D4;
    font-size: 1.2rem;
  }
  .footer-center h3{
    font-size: 1.8rem ;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  
  @media only screen and (max-width:996px) {
    .footer-container{
      grid-template-columns: repeat(2, 1fr);
      row-gap:2rem;
  
    }
  }
  
    @media only screen and (max-width:768px) {
      .footer-container{
        grid-template-columns: 1fr;
        row-gap:2rem;
        
      }
    }
    /* end of footer */
  
    /* copyright */
  
    .navbar-inverse{
      background: #49144b;
      color: #e5cfe6;
      font-weight: bold;
    }
  
     /* end of copyright */
  